/** 
* GLOBAL
*/
nav.nav {
  margin-bottom: 4rem;
}

.container.small {
  max-width: 640px;
}

/** 
* POSTERS
*/
.posters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 4rem 2rem;
  padding: 2rem;
  margin-top: 4rem;
}
.posters > * {
  display: flex;
  flex-direction: column;
}
.posters h5 {
  margin: 0;
}
.posters img {
  width: 100%;
  padding-top: calc(100% * 7 / 5);
  background-size: cover !important;
}

form {
  display: flex;
  max-width: 460px;
  margin: auto;
}

form > input {
  margin-right: 8px;
}

/**
* SHOW
*/
.episodes {
  display: grid;
  grid-template-columns: repeat(1, min-content min-content auto min-content);
}
.episodes > * {
  border-bottom: 1px solid black;
  padding: 8px;
}
.episodes > *:last-of-type {
  white-space: nowrap;
}

.cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px minmax(200px, auto));
  gap: 32px 8px;
}

.tvshow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  column-gap: 4rem;
  row-gap: 2rem;
}

.tvshow > main > header > a {
  text-transform: uppercase;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 150%;
  margin: 0 4px;
}

.tvshow > main > header > a.active {
  color: white;
  background-color: var(--color-primary);
}

.tvshow > img {
  width: 100%;
}

.tvshow > main {
  min-height: 100vh;
  overflow-y: auto;
  width: calc(100vw);
  max-width: 100%;
}
